html.main {
    font-size: 14px;
}

body.main {
    background: url("./images/background.jpg");
    background-size: cover;
    font-family: "Roboto Thin", sans-serif;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 4rem;
    text-align: center;
}

.round {
    border-radius: 210px;
    border: 3px solid #050505;

}

.main__container h1 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 8px;
    margin-bottom: 2rem;
}

.main__container h2 {
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 4px;
    margin-bottom: 3rem;
}


.main__image {
    margin-bottom: 3rem;
}

.main__container p {
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.menu__references ul {
    font-weight: 300;
    letter-spacing: 1px;
    list-style: none;
    padding-left: 55px;
    word-spacing: 10px;
}

.menu__references a {
    text-decoration: none;
    color: black;
}

table {
    margin-left: 5rem;
    font-size: 18px;
    border: 1px solid black;
    width: 100%;
    width: 700px;
    border-collapse: collapse;
    text-align: center;
}

th {
    border: 1px solid black;
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

td {
    border: 1px solid black;
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}